<!DOCTYPE html>
<html lang="en">

  {{- partial "head.html" . -}}

  <body>

    <div class="container content">
      <header class="masthead">
        <a href="https://www.jhu.edu">
          <picture class="jhu-shield">
            <source srcset="/img/university.shield.white.svg" media="(prefers-color-scheme:dark)"/>
            <img class="jhu-shield" src="/img/university.shield.black.svg"/>
          </picture>
        </a>
        <h1 class="masthead-title">
          {{ .Site.Title | markdownify | plainify }}
        </h1>
        <ul class="masthead-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/syllabus">Syllabus</a></li>
          <li><a href="/schedule">Schedule</a></li>
          <li><a href="/assignments">Assignments</a></li>
          <li><a href="/resources">Resources</a></li>
        </ul>
      </header>

      <main>
        {{- block "main" . }}{{- end }}
      </main>

      {{- partial "footer.html" . -}}
    </div>
  </body>
</html>
