{{ define "main" }}
  <h1>Table of Contents</h1>

  <div class="post">
    {{ .Content }}
  </div>

  <div class="posts">

    {{ range where .Site.RegularPages "Section" "posts" }}
    <article class="post">
      <h3 class="post-title">
        <a href="{{ .Permalink }}">
          {{ .Title | markdownify }}
        </a>
      </h3>

      <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2 Jan 2006" }}</time>

      {{ .Summary | markdownify }}

    </article>

    {{ end }}
  </div>
{{ end }}